name: grid_result
root: ~/

windows:
  {% for window in windows -%}
    - {{window.title}}:
      layout: tiled 
      panes:
        {% for pane in window.panes %}- logs{{pane.name}}:{% block out scoped%}{% endblock  %}
        {% endfor%}
  {% endfor %}
  {% for window in windows -%}
    - error{{window.title}}:
      layout: tiled 
      panes:
        {% for pane in window.panes %}- logs{{pane.name}}:{% block error scoped%}{% endblock  %}
        {% endfor%}
  {% endfor %}
